
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --screen-color-method: #471871;
    --screen-color-statistics: #219b9b;
    --screen-color-testing: #21599b;
    --screen-color-profile: #f0775d;

    --screen-color-method-dark: #142151;
    --screen-color-statistics: #1b7070;
    --screen-color-testing-dark: #1b3d70;
    --screen-color-profile-dark: #b45751;

    --menu-button-1: #3f92b6;
    --menu-button-2: #599ae7;
    --menu-button-3: #954be2;
    --menu-button-4: #06a192;
    --menu-button-5: #fd8c73;

    --menu-button-accent-1: #3d7a95;
    --menu-button-accent-2: #4d7eb7;
    --menu-button-accent-3: #078377;
    --menu-button-accent-4: #fd8c73;

    --menu-background: #292929;

    --method-color-green: #1cb854;
    --methode-color-turquoise: #37c6ab;
    --method-color-blue: #059cc0;
    --method-color-peach: #ff8c59;
    --method-color-orange: #ffa02e;

    --text-color-white: #fff;
    --text-color-black: #000;
}

/* fonts */
h1 {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    color: var(--text-color-white);
} 

h2 {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--text-color-white);
}

h3, li, a {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem; 
}

h4 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem; 
}

p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.5rem; 
}

/*-----stories-----*/

/* main {
    background-color: linear-gradient(var(--screen-color-method), var(--screen-color-method-dark));
} */

body {
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    background: linear-gradient(var(--screen-color-method), var(--screen-color-method-dark));
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 3rem;
}

/* .horizontal-list-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%
} */

ol {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
    counter-reset: list-counter;
    color: var(--text-color-white);
}

ol li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 16rem;
    height: 2.3rem;
    background-color: var(--method-color-green);
    border-radius: 0.5rem;
    overflow: hidden;
}

ol li::before {
    content: counter(list-counter) "."; /* insert the counter value as content  + add "." after the number */
    counter-increment: list-counter; /* increment the counter value */
}

/* WIDTH/position NEED TO BE FIXED */
ol li:nth-child(2) {
    position: absolute;
    left: 18rem; 
    padding-left: 1rem;
    background-color: var(--menu-button-accent-1);
}

ol li a {
    display: inline-block;  /* ensure link content flows properly */
    text-decoration: none;
    color: var(--text-color-white);
}

ol li img {
    width: 1.25rem;
    height: 1.25rem;
}

h2 {
    margin-top: 2rem;
}

ul.stories {
    
}

ul.stories li {
    width: 23rem;
    height: 5rem;
    background-color: var(--text-color-white) ;
    border-radius: 0.5rem;
}

a {
    color: var(--text-color-white);
    text-decoration: none;

}




